@import 'mashiro/font.css';

:root {
  --color-default: #222;
  --color-grey: #999;
  --color-border: #ddd;
  --color-link: #999;
  --color-background : #fff;
  --color-sidebar-text : #777;
  --color-widget-background : #ddd;
  --color-widget-border : #ccc;
  --color-footer-background : #262a30;
  --color-mobile-nav-background : #fff;
  --color-twitter : #00aced;
  --color-facebook : #3b5998;
  --color-pinterest : #cb2027;
  --color-linkedin : #0077B5;

  --font-serif:  "biaodian", "LM-Roman-10", "Chinese",  serif;
  --font-mono: "LM-Mono-10", "Courier", "ChineseMono", monospace;

  --font-size: 16px;
  --line-height: 1.6em;
  --line-height-title: 1.1em;
}

html {
    font-size: var(--font-size);
    scroll-padding-top: 80px;
}

body {
  background: color-background;
  font-family: var(--font-serif);
  -webkit-text-size-adjust: 100%
}

#write {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px 30px 100px;
}

#write p {
  line-height: 1.6rem;
  word-spacing: .05rem;
}

#write ol li {
  padding-left: 0.5rem;
}

#write > ul:first-child,
#write > ol:first-child {
  margin-top: 30px;
}

a {
  font-family: var(--font-serif);
  color: #42b983;
  font-weight: bold;
  padding: 0 2px;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
  color: #191970
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}

h1 tt,
h1 code {
  font-size: inherit !important;
}

h2 tt,
h2 code {
  font-size: inherit !important;
}

h3 tt,
h3 code {
  font-size: inherit !important;
}

h4 tt,
h4 code {
  font-size: inherit !important;
}

h5 tt,
h5 code {
  font-size: inherit !important;
}

h6 tt,
h6 code {
  font-size: inherit !important;
}

h1 a,
h2 a,
h3 a {
  color: #191970;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
  color: var(--color-grey)
}

strong {
  font-family: var(--font-serif);
  font-weight: bold;
  color: #800080
}

em,
cite {
  font-family: var(--font-mono);
  font-style: italic;
  color: #006400
}

sup,
sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.2em;
}
small {
  font-size: 0.85em;
}
acronym,
abbr {
  border-bottom: 1px dotted;
}

blockquote {
  font-family: var(--font-serif);
  font-style: italic;
  margin: line-height 0;
  padding: 0.25em 2em 0.25em calc(2em - 5px);
  border-left: 5px solid var(--color-border);
  background: #f7f7f7;
}

blockquote strong {
  font-style: normal;
}
blockquote footer {
  font-size: font-size;
  font-family: font-sans;
}
blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
