@font-face {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
    src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  }
  @font-face {
    font-family: LM-Mono-10;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/lmmono10-regular.ttf");
  }
  @font-face {
    font-family: LM-Mono-10;
    font-style: italic;
    font-weight: normal;
    src: url("fonts/lmmono10-italic.ttf");
  }
  @font-face {
    font-family: LM-Roman-10;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/lmroman10-regular.ttf");
  }
  @font-face {
    font-family: LM-Roman-10;
    font-style: italic;
    font-weight: normal;
    src: url("fonts/lmroman10-italic.ttf");
  }
  @font-face {
    font-family: LM-Roman-10;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/lmroman10-bold.ttf");
  }
  @font-face {
    font-family: LM-Roman-10;
    font-style: italic;
    font-weight: bold;
    src: url("fonts/lmroman10-bolditalic.ttf");
  }
  @font-face {
    font-family: Chinese;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/HYShuSongErS.ttf");
  }
  @font-face {
    font-family: Chinese;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/FZHTJW.ttf");
  }
  @font-face {
    font-family: Chinese;
    font-style: italic;
    font-weight: normal;
    src: url("fonts/FZKTJW.ttf");
  }
  @font-face {
    font-family: ChineseMono;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/HYFangSongJ.ttf");
  }
  @font-face {
    font-family: biaodian;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/biaodian.ttf");
  }
  @font-face {
    font-family: biaodian;
    font-style: italic;
    font-weight: normal;
    src: url("fonts/biaodian.ttf");
  }
  @font-face {
    font-family: biaodian;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/biaodian.ttf");
  }
  @font-face {
    font-family: biaodian;
    font-style: italic;
    font-weight: bold;
    src: url("fonts/biaodian.ttf");
  }
  